.Shared__button {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  border: 2px solid #3b77bd;
  border-radius: 5px;
  cursor: pointer;
}

.Shared__button--primary {
  color: white;
  background-color: #3b77bd;
}

button:disabled.Shared__button--primary {
  background-color: #accef5;
  border-color: #accef5;
  cursor: not-allowed;
}

.Shared__button--secondary {
  color: #3b77bd;
}
