@import 'css/mixins/typography';

.Shared__button {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 2rem;
  border: 2px solid #0277bd;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font-sans;
}

.Shared__button--primary {
  color: white;
  background-color: #0277bd;
}

button:disabled.Shared__button--primary {
  background-color: #accef5;
  border-color: #accef5;
  cursor: not-allowed;
}

.Shared__button--secondary {
  color: #0277bd;
}

.Shared__button-spinner {
  margin-right: 1rem;
}
