fieldset {
  border: 1px solid #b0bec5;
  padding: 1rem;
  border-radius: 5px;
}

.IncidentLocationMap {
  width: 100%;
  height: 400px;
  max-height: 70vh;
  margin-bottom: 2rem;
  border: 1px solid #b0bec5;
  border-radius: 5px;
}

.ReportIncidentPage__required,
.ReportIncidentPage__optional {
  color: #f44337;
  font-weight: normal;
  padding-left: 0.3rem;
}

.ReportIncidentPage__optional {
  color: #666;
}

.ReportIncidentPage__error-message {
  background: #fcf3f4;
  white-space: pre-wrap;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 1rem 0;
  border-radius: 5px;
}
