.ResetPasswordPage {
  height: 100%;
  background: midnightblue; }
  .ResetPasswordPage input {
    width: 100%;
    font-size: 2rem;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em; }
  .ResetPasswordPage h1 {
    color: white;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .ResetPasswordPage form {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%; }

.ResetPasswordPage__form-controls {
  width: fit-content;
  margin: 20px auto; }

.ResetPasswordPage__submit {
  background-color: deepskyblue; }

.ResetPasswordPage__error-text {
  color: red;
  text-align: center;
  font-size: 1.5rem; }
