language: node_js
node_js:
- 8
before_script: yarn;
script: yarn test;
before_deploy: yarn build;
deploy:
  provider: s3
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  bucket: "$S3_BUCKET"
  skip_cleanup: true
  local_dir: build
  acl: public_read
  on:
    all_branches: true
    condition: "$AWS_ACCESS_KEY_ID"
env:
  global:
  - secure: pe0oVI/NpEgQt5I/Mprk+Dy7gxrIB9hKa1c3ciL9p3P1pbOtzti5Cn96GngBTPYWs983AFTSJwEbjdYiwrUJhTAjgZoPMuEqaWKJYM64bJx2XXU7sJgK7wR9vLgssJF6nG4ptHpF7qU9/kg+bfxYAKEm+jgOjxdg3dJnhkFtYXbVaRHx8NNXPHZmPpOSyJ42Xjjbc09k3dKfzf6/yPmvVyQcg2w9AjAoPJCIdrf6n3MmAHR+W/yiEDJ9vIaOw87Lef/mYz9MMFCy2/FuyP+kIGPaQxJNDH1XXypctEnSCFyMBx6Rl55OIYbve4W+rjw3yhwVgiiNKFHFaKjSBZbP2v6kz87RN2zcbvosTg40oo1F+ED5TgkDMpotCYnTEWjxvVqhkELFy1rw4wEghFDe410CFlXcie90o3UUu72If/c9dNSwGWfPIwUAKWYDCrS/MtNpe9TWCPk6PBCFsBbHGEDxXnNF0evfylXGwA40R2ODZpS1rPPJUYB2Av3Qmj4aPodVVW1PgF39JFjaE2XWh0vz+7DAC074NXc2CwESHQYii/EzcNFPDGuFsOj3jLM3nLGqSLcP2o1kqQksAc/YYRQx6yHiIM9xcUrZ1DSLX6fNWOBEzvxZvnX/NNZgBVfFzbSrZWY8q8OqiuncsDdvKGoA2x5rIkSylNF/YD29uYg=
  - secure: WX8iki16LxMj5WfiLfYz6GyGu+uHJAnRTli37uy4KrL4xQAcoAMzmxi7PQumzD5iECxuaDhiBoveRAD1+IvEy+jtl32Z6WLz4VnhYoR7OKCHL9rqi/f1KPMl6AkIWHg0VZDFuOdldbgsa7vNeiqIC99XwQ/qV/7jeKIWx5rCieK2SHmQ7QcdXkZPYiOT+qVB1BscsivllaVKW/KnBoEKdzocKrtnKueaKatWRVWTK9DZupZg4KQuMRfcP9d5WmbLBjPJ5nHWcejXGNZoKxp8wIi2DQ9DGUqDtoGsDrWaJgsjd58s/1k1nTNHAG/qCTNajcaO1J8DzjQdFZcLRO2ux3w7OMeBKiEGBWRcGVso0i2bVhYZFCaIJ+sA6UtgLbYRcUQulK0yM2I5t7ZQJ/+jdgZLS/Zg3IogZSV0sXaS1pVUgN/jV0mAyW4s2L+jarCSPlY4CtHz2guZ60ZJXztuv6Rv6etOgLQLPuXv9K5LrTyp6jF3uQl/p6nNBG4A+/EkgLFj0XL21fcP0TzDR7/WzbjuIBRCQxvFqRl5Z6te+aLJt2wI0Clp+zELDH4Fx4F52BYYugmJwgAA5y5ZlgJ1cVBvtW+mf7jEx03IXIY5xa9fS84EUs1IXgza6wLkg4KSj3Y2IGdRwIL0OrzFL5XCdHpy0/my8xSFq569P+cBRv4=
  - CURRENT_FLOODS_BRANCH_NAME=legacy-crossings
  - S3_BUCKET=ctxfloods-frontend-legacy-crossings
  - REACT_APP_BACKEND_URL=https://5199xk4uxc.execute-api.us-east-1.amazonaws.com/dev
