@import "../../css/flexbox";

.ManageCrossings {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 5%;
}

.ManageCrossings__h1 {
  font-size: 4.4rem;
  margin: 10px 0px;
}

.ManageCrossings__right-aligned-element {
  @include flexitem--pushed-right;
  @include flexcontainer;
  justify-content: flex-end;
}
