@import "../../css/flexbox";

$container-height: 46px;
$open-color: #ACF6EA;
$caution-color: #F6F3AC;
$closed-color: #FFCEC6;

.StatusToggleContainer {
  @include flexcontainer;
  width: 272px;
  height: $container-height;
}

.StatusToggle {
  @include flexitem;
  text-align: center;
  line-height: $container-height;
}

.StatusToggle__open {
  @extend .StatusToggle;
}

.StatusToggle__open--selected {
  @extend .StatusToggle__open;
  background-color: $open-color;
}

.StatusToggle__caution {
  @extend .StatusToggle;
}

.StatusToggle__caution--selected {
  @extend .StatusToggle__caution;
  background-color: $caution-color;
}

.StatusToggle__closed {
  @extend .StatusToggle;
}

.StatusToggle__closed--selected {
  @extend .StatusToggle__closed;
  background-color: $closed-color;
}

.StatusToggle__longterm {
  @extend .StatusToggle;
  text-decoration: underline;
}

.StatusToggle__longterm--selected {
  @extend .StatusToggle__longterm;
  background-color: $closed-color;
}
