.ForgotPasswordPage {
  height: 100%;
  background: midnightblue; }
  .ForgotPasswordPage input {
    width: 100%;
    font-size: 2rem;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em; }
  .ForgotPasswordPage h1 {
    color: white;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .ForgotPasswordPage form {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%; }

.ForgotPasswordPage__waiting {
  display: block !important;
  color: white;
  text-align: center; }

.ForgotPasswordPage__form-controls {
  width: fit-content;
  margin: 20px auto; }

.ForgotPasswordPage__submit {
  background-color: deepskyblue; }

.ForgotPasswordPage__error-text {
  color: red;
  text-align: center;
  font-size: 1.5rem; }
