.FilterCheckbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}
.FilterCheckbox__button {
  padding: 0 0.5rem;
  &:focus {
    outline: 0;
  }
}
.FilterCheckbox__children {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: #fff;
}
