.flexcontainer {
  display: flex; }

.flexitem {
  flex: 1; }

.flexitem--pushed-right {
  flex: 1;
  align-self: center;
  margin-left: auto; }

.ManageUsers {
  margin: auto 10%; }

.ManageUsers__h1 {
  font-size: 4.4rem;
  margin: 10px 0px; }

.ManageUsers__right-aligned-element {
  flex: 1;
  align-self: center;
  margin-left: auto;
  display: flex;
  justify-content: flex-end; }
