@import "../../../css/flexbox";
@import "../../../css/font-awesome/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i');

.CrossingListItemContainer {
  @include flexcontainer;
  margin-left: 85px;
  margin-right: 85px;
}

.CrossingName {
  @include flexitem;
  font-size: 12pt;
  color: #055eff;
  text-decoration: underline;
  font-family: "Roboto";
  letter-spacing: .2pt;
}
