.LoginPage {
  height: 100%;
  background: midnightblue;
  text-align: center;
  input {
    width: 100%;
    font-size: 2rem;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
  }
  h1 {
    color: white;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  form {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
  a {
    font-size: 1.5rem;
    color: white;
  }
}

.LoginPage__form-controls {
  width: fit-content;
  margin: 20px auto;
}

.LoginPage__submit {
  background-color: deepskyblue;
}
