.CrossingMapPage__map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.CrossingMapPage__mobile-status-filters {
  display: flex;
  background: #2c579b;
  padding: .6rem;
}

.CrossingMapPage__map-container--hidden {
  display: none;
}

.CrossingMapPage__mobile-overlay {
  width: 100%;

  .CrossingListItem {
    box-shadow: none;
    margin-bottom: 0px;
  }

  .CrossingListItem--dirty {
    outline: none;
    box-shadow: 0 4px #40b3ff inset, 0 -4px #40b3ff inset;
  }
}

.CrossingMapPage__fullscreen-toggle-container {
  position: absolute;
  z-index: 1;
  text-align: right;
  width: 100%;
}

.CrossingMapPage__fullscreen-toggle {
  background: white;
  padding: 4px;
  margin: 7px;
}

.CrossingMapPage__page-container {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.fullscreen {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.CrossingMapPage {
  flex: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}

@media (max-width: 600px) {
  .CrossingMapPage {
    flex-direction: column;
  }
}

.mapboxgl-map {
  flex: auto;
}
