.CrossingListHeaderContainer {
  background: #00579b;
  color: #fff;
}
.CrossingListHeader {
  display: flex;
  flex-wrap: wrap;
}

.CrossingListSearch {
  display: flex;
}

.CrossingListSearchInput {
  box-sizing: border-box;
  font-size: 1.4rem;
  padding: 1rem;
}

.CrossingListSearchButton {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CrossingListToggleMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CrossingListSortToggle,
.CrossingListFilterToggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.CrossingListSpacer {
  flex: 1;
}

.CrossingListFilter {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.CrossingListToggle__icon {
  display: inline-block;
  padding-left: 1rem;
}

@media (min-width: 800px) {
  .CrossingListHeader {
    max-width: 1100px;
    margin: 0 auto;
  }
  .CrossingListFilterToggle {
    display: none;
  }
  .CrossingListFilterCheckbox {
    padding: 0 1rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@media (max-width: 800px) {
  .CrossingListHeader {
    flex-direction: column;
  }
  .CrossingListSearchInput {
    flex: 1;
  }
  .CrossingListToggleMenu {
    order: 2;
  }
  .CrossingListFilterContainer {
    order: 3;
  }
  .CrossingListSortToggle,
  .CrossingListFilterToggle {
    flex: 1;
  }
  .CrossingListFilterContainer--enabled {
    display: flex;
  }
  .CrossingListFilterContainer--disabled {
    display: none;
  }
  .CrossingListFilter {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
  .CrossingListFilterCheckbox {
    padding: 1rem 0;
  }
}
