.CommunityListDropdownButton {
  cursor: pointer;
}

.CommunityListDropdown {
  background: #f9f9fa;
  border: 1px solid #b0bec5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .CommunityListDropdown {
    position: fixed;
    background: #f9f9fa;
    z-index: 1003;
    border: 1px solid #b0bec5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 500px;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}

a.CommunityListDropdown__item {
  border-bottom: 1px solid #b0bec5;
  padding: 1rem 2rem;
  color: #2d569b;
  font-size: 1.5rem;
}

.CommunityListDropdown__item:hover {
  background: #eeeef3;
}
