@import 'css/mixins/layout';
@import 'css/mixins/colors';

.CrossingStatusHistory--lg {
  .CrossingStatusHistory__item-details-flexcontainer {
    display: flex;
    flex-direction: row;
  }
  background: #efefef;
}

.CrossingStatusHistory__list-wrapper {
  max-width: 1100px;
  margin: auto;
  background: #efefef;
}

.CrossingStatusHistory_header-background {
  background: $color-primary;
}

.CrossingStatusHistory__section-header {
  @include section-header;
  display: flex;
  max-width: 1100px;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.CrossingStatusHistoryItem {
  background: white;
  padding: 20px;
  margin-bottom: 2px;
}

.CrossingStatusHistoryItem__crossing-name {
  margin-bottom: 1rem;
}

.CrossingStatusHistoryItem__details-container {
  width: 100%;
}

.CrossingStatusHistoryItem__details {
  display: flex;
}

.CrossingStatusHistoryItem__status {
  display: flex;
}

.CrossingStatusHistoryItem__status-icon {
  margin-right: 10px;
}

.CrossingStatusHistoryItem__status-and-author {
  width: 180px;
}

.CrossingStatusHistoryItem__author-name {
  text-decoration: underline;
}

.CrossingStatusHistoryItem__datetime {
  text-align: right;
  font-size: 1.5rem;
  width: 100px;
}

.CrossingStatusHistoryItem__datetime.smallsize {
  flex: 2;
}

.CrossingStatusHistoryItem__datetime-date {
  text-transform: uppercase;
  color: #547281;
  font-size: 1.3rem;
  font-weight: 600;
}

.CrossingStatusHistoryItem__reason-duration-notes {
  flex: auto;
  display: flex;
}

.CrossingStatusHistoryItem__reason-duration {
  flex: 1;
}

.CrossingStatusHistoryItem__notes {
  flex: 1;
  margin-top: 10px;
}

.CrossingStatusHistoryItem__reason {
  margin-top: 10px;
}

.CrossingStatusHistoryItem__duration {
  margin-top: 10px;
}

.CrossingStatusHistoryItem__subdetails-title {
  text-transform: uppercase;
  color: #547281;
  font-size: 1.3rem;
  font-weight: 600;
}

.CrossingStatusHistoryItem__subdetails-content {
  font-size: 1.5rem;
}

.CrossingStatusHistory__section-header {

}

.CrossingStatusHistory__section-header--title {
  flex: 1;
  display: flex;
  align-items: center;
}

.CrossingStatusHistory__section-header--history-icon {
  margin: 0 1rem;
}

.CrossingStatusHistory__download-link {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.CrossingStatusHistory__download-icon {
  margin: 0 1rem;
}

.CrossingStatusHistory__download-download-link {
  color: #7affaf;
}
