@import 'css/mixins/layout';
@import 'css/mixins/colors';

.CrossingStatusHistory--lg {
  .CrossingStatusHistory__item-details-flexcontainer {
    display: flex;
    flex-direction: row;
  }
  background: #efefef;
}

.CrossingStatusHistory__list-wrapper {
  max-width: 1100px;
  margin: auto;
  background: #efefef;
}

.CrossingStatusHistory__section-header {
  background: $color-primary;
  @include section-header;
  display: flex;
  max-width: 1100px;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.CrossingStatusHistory__section-header-filter {
  // @include section-header;
  display: flex;
  max-width: 1100px;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.HistoryFilter {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.HistoryFilter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 0px;
}

.HistoryFilter-community-row {
  display: inline-block;
  padding: 1px 0px;
}

.HistoryFilter-community-row .Dropdown {
  width: 100%;
}

.HistoryFilter-row .flatpickr,
.HistoryFilter-row .clear-filter-icon {
  display: inline;
}

.CrossingStatusHistoryFilterToggle {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex: 2;
}

.filter-table {
  border-spacing: 0px 0px;
}

.filter-table-spacing {
  width: 10px;
}

.clear-filter-icon {
  cursor: pointer;
}

.CrossingStatusHistoryItem {
  background: white;
  padding: 20px;
  margin-bottom: 2px;
}

.CrossingStatusHistoryItem_wrapper {
  max-width: 1100px;
}

.CrossingStatusHistoryItem__crossing-name {
  margin-bottom: 1rem;
}

.CrossingStatusHistoryItem__details-container {
  width: 100%;
}

.CrossingStatusHistoryItem__details {
  display: flex;
}

.CrossingStatusHistoryItem__status {
  display: flex;
}

.CrossingStatusHistoryItem__status-icon {
  margin-right: 10px;
}

.CrossingStatusHistoryItem__status-and-author {
  width: 180px;
}

.CrossingStatusHistoryItem__author-name {
  text-decoration: underline;
}

.CrossingStatusHistoryItem__datetime {
  text-align: right;
  font-size: 1.5rem;
  width: 100px;
}

.CrossingStatusHistoryItem__datetime.smallsize {
  flex: 2;
}

.CrossingStatusHistoryItem__datetime-date {
  text-transform: uppercase;
  color: #547281;
  font-size: 1.3rem;
  font-weight: 600;
}

.CrossingStatusHistoryItem__reason-duration-notes {
  flex: auto;
  display: flex;
}

.CrossingStatusHistoryItem__reason-duration {
  flex: 1;
}

.CrossingStatusHistoryItem__notes {
  flex: 1;
  margin-top: 10px;
}

.CrossingStatusHistoryItem__reason {
  margin-top: 10px;
}

.CrossingStatusHistoryItem__duration {
  margin-top: 10px;
}

.CrossingStatusHistoryItem__subdetails-title {
  text-transform: uppercase;
  color: #547281;
  font-size: 1.3rem;
  font-weight: 600;
}

.CrossingStatusHistoryItem__subdetails-content {
  font-size: 1.5rem;
}

.CrossingStatusHistory__section-header--title {
  flex: 1;
  display: flex;
  align-items: center;
}

.CrossingStatusHistory__section-header--history-icon {
  margin: 0 1rem;
}

.CrossingStatusHistory__download-link {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.CrossingStatusHistory__download-icon {
  margin: 0 1rem;
}

.CrossingStatusHistory__download-download-link {
  color: #7affaf;
}

.invisible {
  display: none;
}
