@import "css/mixins/flexbox";

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

.CrossingMapPage__map-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.CrossingMapOverlay__close-button {
  position: absolute;
  z-index: 1;
  margin-left: 290px;
  margin-top: 5px;
  font-size: 2em;
}

.CrossingMapOverlay {
  position: absolute;
  width: 100%;
}

.CrossingMapOverlay__detail-container {
  width: 320px;
  z-index: 11;
  margin-left: 10px;
  margin-top: 50px;
  position: absolute;
}

.CrossingMapOverlay__detail-container.smallsize {
  width: 100%;
  position: absolute;
  z-index: 11;
  margin: 0;
}

.CrossingMapPage__fullscreen-toggle-container {
  position: absolute;
  z-index: 1;
  text-align: right;
  width: 100%;
}

.CrossingMapPage__fullscreen-toggle {
  background: white;
  padding: 4px;
  margin: 7px;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.RootContainer {
    height: 100%;
}

.PageLayout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Header {
  flex: none;
}

.CrossingMapPage__page-container {
  flex: auto;
  display: flex;
  flex-direction: column;  
}

.fullscreen {
  flex: auto;
  display: flex;
  flex-direction: column; 
}

.CrossingMapPage {
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mapboxgl-map {
  flex: auto;
}

.CrossingMapPage_sidebar-container {
  @include flexcontainer;
  position: absolute;
  z-index: 1;
  height: 100%;
}

.CrossingMapPage_sidebar-content {
  background: #F8F8F9;
  width: 430px;
}

.CrossingMapPage_sidebar-search-header {
  background: #004D90;
  color: white;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: .11em;
}

.CrossingMapPage_sidebar-search-container {
  background: #006CB5;
  color: #8BBADB;
  height: 50px;
  @include flexcontainer;
}

.CrossingMapPage_sidebar-search-location-icon {
  padding-left: 20px;
  padding-top: 13px;
}

.CrossingMapPage_sidebar-search-glass-icon {
  padding-top: 13px;
  padding-right: 10px;
}

.CrossingMapPage_sidebar-search-cancel-icon {
  padding-top: 13px;
  padding-right: 10px;  
}

.CrossingMapPage_sidebar-search-text-entry {
  width: 100%;
  margin: auto;
  input {
    font-size: medium;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    border: none;
    background: none;
    @include placeholder {
      color: white;
    }
  }
}

.CrossingMapPage_sidebar-toggle {
  background: white;
  height: fit-content;
  padding: 10px;
  margin-top: 20px;
  border-radius: 0px 5px 5px 0px;
}

.CrossingMapPage_sidebar-filter-sort-toggle-container {
  background: #004D90;
  height: 30px;
}

.CrossingMapPage_sidebar-filter-toggle-text {
  color: white;
  padding: 5px;
  padding-left: 15px;
  font-size: small;
}

.CrossingMapPage_sidebar-filter-container {
  background: #006CB5;
  height: 60px;
}

.CrossingMapPage_sidebar-filter {
  color: white;
  line-height: 60px;
  font-size: small;
  margin: 20px;
}
