.FilterCheckbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FilterCheckbox__button {
  padding: 0 0.5rem;
  &:focus {
    outline: 0;
  }
}
.FilterCheckbox__children {
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
