@import "../Form/Dropdown/Dropdown.scss";

.flatpickr-input-button {
  cursor: pointer;
  padding-left: 5px;
}

.flatpickr-input-box {
  font-size: 1em;
  width: 80px;
  text-align: center;
}

.expired-reopen-date {
  color: red;
  cursor: pointer;
}

.eliminated {
  display: none;
}

.hidden-input-box {
  width: 0;
  border: 0;
  padding: 0;
  height: 25px;
  box-sizing: border-box;
  visibility: hidden;
}
