@import "css/mixins/flexbox";
@import "css/mixins/layout";

.CrossingStatusHistory {
  margin: auto 10%;
}

.CrossingStatusHistory__section-header {
  @include section-header;
}

.CrossingStatusHistory__item {
  padding: 20px;
  // TODO: Extract out colors into css/mixins/colors dir
  border-bottom: 1px solid #F5F4F7;
  @include flexcontainer--column;
}

.CrossingStatusHistory__item-details {
  @include flexitem;
  padding: 10px 5px 0;
}

.CrossingStatusHistory__item-subdetails {
  @include flexcontainer--column;
  margin-bottom: 10px;
  line-height: 2.2rem;
  &:last-of-type {
    margin-bottom: 0px;
  }
}
