.flexcontainer {
  display: flex;
}

.flexcontainer--center {
  display: flex;
  align-items: center;
}

.flexitem {
  flex: 1;
}

.flexitem--pushed-right {
  flex: 1;
  align-self: center;
  margin-left: auto;
}
