.CrossingListHeader.fullsize {
  height: 65px;
  background: #0C0333;
}

.CrossingListSearch.fullsize {
  height: 100%;
  margin-left: 5%;
  width: 30%;
  display: inline-block; 
}

.CrossingListSearchInput.fullsize {
  height: 60%;
  width: 85%;
  margin-top: 10px;
  font-size: 1.4em;
  padding-left: 1em;
  margin-right: -26px;
}

.CrossingListSearchButton.fullsize {
  background: #1764F6;
  display: inline-block;
  width: 9%;
  min-width: 26px;
  height: 45px;
  margin-top: 10px;
  vertical-align: top;
  color: white;
  font-size: 1.6em;
  text-align: center;
  line-height: 45px;
}

.CrossingListSortToggle.fullsize {
  display: inline-block;
  color: white;
}

.CrossingListHeader.smallsize {
  background: red;
}  

