.CrossingListHeader.fullsize {
  height: 65px;
  background: #0C0333;
  display: flex;
}

.CrossingListSearch.fullsize {
  margin-left: 5%;
  width: 25%;
  flex: auto;
  display: flex;
}

.CrossingListSearchInput.fullsize {
  height: 60%;
  width: 85%;
  margin-top: 10px;
  font-size: 1.4em;
  padding-left: 1em;
}

.CrossingListSearchButton.fullsize {
  background: #1764F6;
  width: 9%;
  min-width: 26px;
  height: 45px;
  margin-top: 10px;
  color: white;
  font-size: 1.6em;
  text-align: center;
  line-height: 45px;
}

.CrossingListSortToggle.fullsize {
  flex: auto;
  color: white;
}

.CrossingListFilter.fullsize {
  flex: auto;
  color: white;
}

.CrossingListHeader.smallsize {
  background: red;
}  

