.CrossingListHeader.fullsize {
  height: 65px;
  background: #0C0333;
  display: flex;
}

.CrossingListHeader.smallsize {
  background: #0C0333;
  min-width: 240px;
}

.CrossingListSearch.fullsize {
  margin-left: 5%;
  flex: 1;
  display: flex;
}

.CrossingListSearch.smallsize {
  display: flex;
  margin-left: 5%;
  margin-right: 5%
}

.CrossingListSearchInput {
  height: 60%;
  width: 85%;
  margin-top: 10px;
  font-size: 1.4em;
  padding-left: 1em;
  min-width: 155px;
}

.CrossingListSearchInput.smallsize {
  height: auto;
}

.CrossingListSearchButton {
  background: #1764F6;
  width: 9%;
  min-width: 30px;
  height: 45px;
  margin-top: 10px;
  color: white;
  font-size: 1.6em;
  text-align: center;
  line-height: 45px;
}

.CrossingListSortToggle.fullsize {
  flex: auto;
  color: white;
}

.CrossingListSortToggleText.fullsize {
  line-height: 65px;
  text-align: center;
  margin-left: -30%;
  font-size: 1.3em;
}

.CrossingListSortToggle.smallsize {
  flex: auto;
  color: white;
}

.CrossingListSortToggleText.smallsize {
  line-height: 65px;
  text-align: center;
  margin-left: -30%;
  font-size: 1.3em;
}

.CrossingListFilterToggle.smallsize {
  flex: auto;
  color: white;
}

.CrossingListFilterToggle.smallsize {
  line-height: 65px;
  text-align: center;
  margin-left: -30%;
  font-size: 1.3em;
}

.CrossingListFilter.fullsize {
  color: white;
  display: flex;
  justify-content: space-between;
  min-width: 340px;
  font-size: 1.3em;
  line-height: 65px;
  flex: 1.5;
}

.CrossingListFilterItem.fullsize {
  flex: auto;
}

.CrossingListFilterCheckbox.fullsize {
  width: 1.5em;
  height: 1.3em;
}

.smallflex {
  display: flex;
}