.AuthPage {
  height: 100%;
  background: midnightblue;
  text-align: center;
  input {
    width: 100%;
    font-size: 2rem;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
  }
  h1, p {
    color: white;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  form {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
  a {
    font-size: 1.5rem;
    color: white;
  }
}

.Auth__form-controls {
  width: fit-content;
  margin: 20px auto;
}

.Auth__submit {
  background-color: deepskyblue;
}

.Auth__error-text {
  color: red;
  text-align: center;
  font-size: 1.5rem;
}

.Auth__waiting {
  display: block !important;
  color: white;
  text-align: center;
}

.button-link {
  color: white;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.button-link:hover,
.button-link:focus {
  text-decoration: none;
}
