.CrossingDetails__container {
  display: flex;
  flex-direction: column; }
  .CrossingDetails__container.CrossingDetails__container--lg {
    display: flex;
    flex-direction: row; }
    .CrossingDetails__container.CrossingDetails__container--lg .CrossingStaticMap {
      order: 1; }
    .CrossingDetails__container.CrossingDetails__container--lg .CrossingDetails {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 350px; }
  .CrossingDetails__container .CrossingStaticMap {
    flex: 1;
    order: 2;
    min-height: 350px; }
  .CrossingDetails__container .CrossingDetails {
    flex: 1;
    order: 1; }
