@import 'css/mixins/colors';

.CrossingDetails {
  padding: 2rem 4rem;
}

.CrossingDetails__communities button {
  &:last-of-type {
    margin-right: 0;
  }
}

.CrossingDetails__addCommunityButtons {
  margin-top: 10px;
}

.CrossingDetails__buttons {
  margin: 4rem 0;
}

.CrossingDetails__buttons .Shared__button--primary {
  margin-right: 2rem;
}
