.CrossingDetails__container {
  display: flex;
  flex-direction: column;

  &.CrossingDetails__container--lg {
    display: flex;
    flex-direction: row;

    .CrossingStaticMap {
      order: 1;
    }

    .CrossingDetails {
      order: 2;
      @include flexcontainer--column;
      justify-content: space-between;
      min-height: 350px;
    }
  }

  .CrossingStaticMap {
    flex: 1;
    order: 2;
    min-height: 350px;
  }

  .CrossingDetails {
    flex: 1;
    order: 1;
  }
}
