
.AddCrossingPage {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.AddCrossingPage, .CrossingDetailPage {
  background: #fff;
}

.CrossingDetails__container {
  display: flex;
  flex-direction: column;

  &.CrossingDetails__container--lg {
    display: flex;
    flex-direction: row;
    flex: 1;

    .CrossingStaticMap {
      order: 1;
    }

    .CrossingDetails {
      order: 2;
      display: flex;
      flex-direction: column;
    }
  }

  .CrossingStaticMap {
    flex: 1;
    order: 2;
  }

  .CrossingDetails {
    flex: 1;
    order: 1;
  }
}
