@import "css/mixins/flexbox";
@import "css/mixins/colors";

.CrossingDetails {
    border: 5px solid $color-white;

  &.CrossingDetails--dirty {
    border-color: $color-highlight;
  }
}

.CrossingDetails__communities button {
  &:last-of-type{
    margin-right: 0;
  }
}