@import "css/mixins/flexbox";
@import "css/mixins/colors";

.CrossingDetails {
  @include flexcontainer--row;
}

.CrossingDetails__map {
  @include flexitem;
}

.CrossingDetails__details {
  @include flexitem;  
  @include flexcontainer--column;
  justify-content: space-between;

  &.CrossingDetails__details--dirty {
    border: 5px solid $color-highlight;
  }
}

.CrossingDetails__communities button {
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-of-type{
    margin-right: 0;
  }
}